@font-face {
    font-family: Mux-heavy;
    src: url("./font/Mux-heavy.woff");
}

@font-face {
    font-family: Mux-regular;
    src: url("./font/Mux-regular.woff");
}

@font-face {
    font-family: Mux-thin;
    src: url("./font/Mux-thin.woff");
}